/* Improves readability of workskin and work blurbs on desktop without affecting mobile browsers */

li.work,
li.bookmark {
	font-size: 15px;
}

#workskin {
	font-size: 16px;
	max-width: 640px;
	/* max-width is better for mobile than margin setting in AO3's Wizard */
}
