/* Created by Brandon Vout. My preferred font settings. */

/*
Site font
Order: Preferred, Linux, Android, macOS/iOS, Windows, web safe, browser default
*/
body {
	font-family: "Noto Sans", "Open Sans", "Droid Sans", "Roboto", -apple-system,
		BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
Font for stories and summaries
Order: E-Reader (Kindle, Google Books), Linux, Android, macOS/iOS, Windows, web safe, browser default
*/
#workskin,
blockquote.summary p,
blockquote.userstuff p,
li.comment blockquote.userstuff {
	font-family: Bookerly, Literata, "Noto Serif", "Droid Serif", "Roboto Slab",
		-apple-system-ui-serif, ui-serif, Georgia, Palatino, serif;
}

/* Font size for work boxes (tags, title, author, etc.) */
li.comment blockquote.userstuff,
li.work,
ul.tags {
	font-size: 14px;
}

/* Font size for summaries in works and bookmarks */
blockquote.summary p,
blockquote.userstuff p {
	font-size: 15px;
}

/* Story font size */
#workskin {
	font-size: 16px;
}
