/*
My settings for 'Shortening long tag fields skin' by Xparrot https://archiveofourown.org/skins/3756
@author: Xparrot (https://archiveofourown.org/users/Xparrot)
@link: (https://archiveofourown.org/skins/3756)

Puts all tag fields on the Show Works page over a certain length into a scrollbox.
The default setting is about 5 lines of tags; the length allowed before it makes a
scrollbox can be personalized by changing the "max-height" variable.
*/

li.blurb .tags {
	/* max-height = n + (n / 2), where n = number of lines of tags to show */
	max-height: 12em; /* 8 + (8 / 2) */
	overflow-y: auto;
}
