/*
=============================================================================
Based on 'Byline redone' by EliotWL
@author: EliotWL (https://gist.github.com/EliotWL)
@link: (https://gist.github.com/EliotWL/e37c01bbf53e9cb816f08a3929b23dd4)

Separates tags into bylines.
Modified to be more compact and work better as a parent skin for dark themes.

Add extra "\a" to content properties to add blank line between bylines.
=============================================================================
*/

ul.tags {
  padding-top: 0.5em;
}

ul.tags li.warnings:first-child:before {
  color: inherit;
  content: "Archive Warnings: ";
  font-weight: bold;
  white-space: pre;
}

li.warnings + li.relationships:before {
  color: inherit;
  content: "\a Relationships: ";
  font-weight: bold;
  white-space: pre;
}

li.warnings + li.characters:before,
li.relationships + li.characters:before {
  color: inherit;
  content: "\a Characters: ";
  font-weight: bold;
  white-space: pre;
}

li.warnings + li.freeforms:before,
li.relationships + li.freeforms:before,
li.characters + li.freeforms:before {
  color: inherit;
  content: "\a Tags: ";
  font-weight: bold;
  white-space: pre;
}
