/*
===================================================================
Separates tags into bylines.
Based on Byline redone by EliotWL
(https://gist.github.com/EliotWL/e37c01bbf53e9cb816f08a3929b23dd4).
Modified to work better as a parent skin for dark themes.
===================================================================
*/

ul.tags {
	padding-top: 0.5em;
}

ul.tags li.warnings:first-child:before {
	color: inherit;
	content: "Archive Warnings: ";
	font-weight: bold;
	white-space: pre;
}

li.warnings + li.relationships:before {
	color: inherit;
	content: "\a\a Relationships: ";
	font-weight: bold;
	white-space: pre;
}

li.relationships + li.characters:before {
	color: inherit;
	content: "\a\a Characters: ";
	font-weight: bold;
	white-space: pre;
}

li.characters + li.freeforms:before {
	color: inherit;
	content: "\a\a Tags: ";
	font-weight: bold;
	white-space: pre;
}

li.warnings + li.characters:before {
	color: inherit;
	content: "\a\a Characters: ";
	font-weight: bold;
	white-space: pre;
}

li.warnings + li.freeforms:before {
	color: inherit;
	content: "\a\a Tags: ";
	font-weight: bold;
	white-space: pre;
}

li.relationships + li.freeforms:before {
	color: inherit;
	content: "\a\a Tags: ";
	font-weight: bold;
	white-space: pre;
}
