/*
Adapted from 'Basic Formatting skin' by AO3, https://archiveofourown.org/skins/229
@author: AO3 (https://archiveofourown.org)
@link: (https://archiveofourown.org/skins/229)
*/

#workskin .indent {
    padding: 0 5em 0 5em;
}

#workskin .book {
    margin: 0 auto;
    text-indent: 3em;
}

#workskin .dropcap {
    font-family: Bookerly, Literata, "Noto Serif", -apple-system-ui-serif, ui-serif, Georgia, Palatino, serif;
    font-size: 3em;
}

#workskin .flashback {
    font-style: italic;
}

#workskin .caps {
    font-variant: small-caps;
}

#workskin .spoiler {
    background: #333;
    color: #333;
}

#workskin .border {
    border: 1px solid;
}

/* Order: E-Reader (Kindle, Google Books), Linux/Android, macOS/iOS, Windows, web safe, browser default */
#workskin .font-serif {
    font-family: Bookerly, Literata, "Noto Serif", -apple-system-ui-serif, ui-serif, Georgia, Palatino, serif;
}

/* Order: Preferred, Linux/Android, macOS/iOS, Windows, web safe, browser default */
#workskin .font-sansserif {
    font-family: "Adwaita Sans", Inter, "Noto Sans", -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
}

/* Order: Preferred, Linux/Android, macOS/iOS, Windows, web safe, browser default */
#workskin .font-monospace {
    font-family: "Adwaita Mono", "Noto Mono", ui-monospace, Consolas, "Courier New", Courier, monospace;
}

#workskin .font-big {
    font-size: 120%;
}

#workskin .font-small {
    font-size: 80%;
}

#workskin .align-right {
    text-align: right;
}

#workskin .align-center {
    text-align: center;
}

#workskin .align-justify {
    text-align: justify;
}

#workskin hr.third {
    width: 33%;
    margin: auto;
}

#workskin hr.full {
    width: auto;
    margin: auto;
}

/*
Light theme:	#e53935
Dark theme:		#f07178
*/
#workskin .font-red {
    color: #f07178;
}

/*
Light theme:	#f76d47
Dark theme:		#f78c6c
*/
#workskin .font-orange {
    color: #f78c6c;
}

/*
Light theme:	#f6a434
Dark theme:		#ffcb6b
*/
#workskin .font-yellow {
    color: #ffcb6b;
}

/*
Light theme:	#91b859
Dark theme:		#c3e88d
*/
#workskin .font-green {
    color: #c3e88d;
}

/*
Light theme:	#6182b8
Dark theme:		#82aaff
*/
#workskin .font-blue {
    color: #82aaff;
}

/*
Light theme:	#7c4dff
Dark theme:		#c792ea
*/
#workskin .font-purple {
    color: #c792ea;
}

#workskin .font-white {
    color: #eeffff;
}

#workskin .font-black {
    color: #272727;
}

/*
Light theme:	#d81b60
Dark theme:		#f48fb1
*/
#workskin .font-pink {
    color: #f48fb1;
}

/*
Light theme:	#00897b
Dark theme:		#80cbc4
*/
#workskin .font-teal {
    color: #80cbc4;
}

#workskin .font-redbrown {
    color: #a15000;
}

#workskin .font-cherryred {
    color: #e00707;
}

#workskin .font-brickred {
    color: #a10000;
}

#workskin .font-dimorange {
    color: #f2a400;
}

#workskin .font-murkyyellow {
    color: #a1a100;
}

#workskin .font-jade {
    color: #4ac925;
}

#workskin .font-dimgreen {
    color: #008141;
}

#workskin .font-leafgreen {
    color: #1f9400;
}

#workskin .font-darkolive {
    color: #416600;
}

#workskin .font-dimblue {
    color: #005682;
}

#workskin .font-midblue {
    color: #0715cd;
}

#workskin .font-mediumskyblue {
    color: #00d5f2;
}

#workskin .font-darknavy {
    color: #000056;
}

#workskin .font-lightpurple {
    color: #f141ef;
}

#workskin .font-midviolet {
    color: #b536da;
}

#workskin .font-verydarkpurple {
    color: #2b0057;
}

#workskin .font-darkplum {
    color: #6a006a;
}

#workskin .font-darkmaroon {
    color: #77003c;
}

#workskin .font-reallydarkgray {
    color: #626262;
}
